#wrap{
}
.banner_img{
  position: relative;
  padding: 6% 0;
  z-index: 1;
  background-image: url(./back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}
.container{
  max-width: 1320px;
  margin : 0px auto;
  
}
.main_banner{
  display: flex;
  justify-content: flex-start;
  z-index: 6;
  
}
.main_banner_right{
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.main_button_box{
  display: flex;
  justify-content: center;
  padding-top: 10%;
}
.main_banner_right button{
  width: 100px;
  height: 50px;
  font-size: 16px;
  border: none;
  margin: 0px 15px;
  border-radius: 20px;
  background-color: #3482ff;
  color: #ffffff;
}
.right_textbox p{
    font-size: 46px;
    font-weight: bold;
}
.shape01{
  position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
}
.shape02{
  position: absolute;
  top: 16%;
  left: 4%;
  z-index: -1;
}
.shape03{
  position: absolute;
  left: 18.3%;
    top: 20%;
  z-index: -1;
}
.shape04{
  position: absolute;
  left: 11.6%;
    top: 29%;
  z-index: -1;
}
.shape05{
  position: absolute;
  bottom: 27.5%;
    left: 8%;
  z-index: -1;
}
.shape06{
  position: absolute;
  right: 17.25%;
  top: 24%;
  z-index: -1;
}
.shape07{
  position: absolute;
  bottom: 19%;
    right: 25.8%;
  z-index: -1;
}

.img_banner{
width: 700px;
}