.h1_title{
  font-family: "AppleSDGothic";
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
}
.h2_title{
  text-align: center;
  font-family: "AppleSDGothic";
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10%;
}
.kr_text{
  font-family: "AppleSDGothic";
  font-weight: 500;
  font-size: 16px;
}






.mo{
  padding-top: 0;
}



#wrap{
  
}
/*헤더메뉴*/
.menu_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_drop{
  display: flex;
}
.menu_drop li a{
  font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 500;
     font-size: 20px;
    line-height: 1;
    padding: 35px 18px;
}
.menu_drop li:first-child{
  color: #f89e52;;
}
.logo{
  width: 100px;
  height: 100px;
  background-color: #3482ff;
}
/*메인비주얼*/
.banner_img{
  position: relative;
  z-index: 1;
  background-image: url(./back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}
.container{
  max-width: 1320px;
  margin : 0px auto;
  
}
.main_banner{
  display: flex;
  justify-content: flex-start;
  z-index: 6;
  
}
.main_banner_mo{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main_banner_left{
  width: 50%;
    height: 600px;
    position: relative;
    top: 0;
    left: 0;
}
.main_banner_right{
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.main_button_box{
  display: flex;
  padding-top: 20%;
}

.main_banner_right button{
  width: 200px;
  height: 70px;
  font-size: 16px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  border: none;
  margin-right: 35px;
  border-radius: 20px;
  background-color: #3482ff;
  color: #ffffff;
}
.right_textbox{
  padding-top: 50%;
}
/*About me Page*/
.about{
  padding-top: 10%;
}
.about .about_items{
  display: flex;
  padding:0px 5px;
  align-items: center;
}
.about .about_items .about_item{
  display: flex;
  justify-content: center;
  width: 300px;
  height: 250px;
  margin-right: 35px;
  padding:30px 40px 0 40px;
  border: 1px solid #f3f3f3;
  border-radius:  20px;
  box-shadow: 0 15px 30px rgba(61,90,125,.08)
}
.about .about_items .about_item:nth-child(2) {

  margin-top: 5%;
}
.about .about_items .about_item:nth-child(4) {

  margin-top: 5%;
}
.about .about_items_mo .about_item:nth-child(2) {

  margin-top: 5%;
}
.about .about_items_mo .about_item:nth-child(4) {

  margin-top: 5%;
}
.about_img{
  width: 100px;
  height: 100px;
}


































/*배경 이미지*/
.shape01{
  position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
}
.shape02{
  position: absolute;
  top: 16%;
  left: 4%;
  z-index: -1;
  animation: one2 12s linear infinite forwards alternate ;
}
@keyframes one2{
  0% {
   
    transform: translate(0) rotate(0deg);
  }
  20% {
  
    transform: translate(73px,-1px) rotate(36deg);
  }
  40% {
   
    transform: translate(141px,72px) rotate(72deg);
  }
  60% {
  
    transform: translate(83px,122px) rotate(108deg);
  }
  80% {
  
    transform: translate(-40px,72px) rotate(144deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
  }

.shape03{
  position: absolute;
  left: 18.3%;
  top: 20%;
  z-index: -1;
  animation: one1 5s linear infinite forwards alternate ;
}
@keyframes one1{
  0%,100% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  25%,75%{
    transform: translateX(15px) translateY(20px) rotate(10deg);
  }
  50%{
    transform: translateX(60px) translateY(35px) rotate(15deg);
  }
}
.shape04{
  position: absolute;
  left: 11.6%;
    top: 29%;
  z-index: -1;
  animation: rotate_image 8s linear infinite;transform-origin: 50% 50%;
}
@keyframes rotate_image{
  100% {
      transform: rotate(360deg);
  }
}
.shape05{
  position: absolute;
  bottom: 27.5%;
    left: 8%;
  z-index: -1;
  animation: one5 5s linear infinite;transform-origin: 50% 50%;
}
@keyframes one5{
0%, 100% {

  transform: rotate(0deg) translateX(0);
}
25%, 75% {
  transform: rotate(5deg) translateX(15px);
}
50% {
  transform: rotate(10deg) translateX(30px);
}
}
.shape06{
  position: absolute;
  right: 17.25%;
  top: 24%;
  z-index: -1;
  animation: rotate_image1 5s linear infinite;transform-origin: 50% 50%;
}
@keyframes rotate_image1{
  50% {
      transform: rotate(40deg);
  }
}
.shape07{
  position: absolute;
  bottom: 6%;
    right: 15.8%;
  z-index: -1;
  animation: box-ani 3s linear infinite forwards alternate ; /* 애니메이션 적용 */
}
@keyframes box-ani{
  0% {
    transform: translateX(-30px);
  }
  50%{
    transform: translateX(-10px);
  }
  100%{
    transform: translateX(-30px);
  }
}
.sunimg{
  width: 100px;
  position: absolute;
  left: 11.6%;
  top: 29%;
  z-index: -1;
  animation: rotate_image 8s linear infinite;transform-origin: 50% 50%;
}
@keyframes rotate_image{
  100% {
      transform: rotate(360deg);
  }
};