.h1_title{
  font-family: "AppleSDGothic";
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
}
.h2_title{
  text-align: center;
  font-family: "AppleSDGothic";
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 3%;
}
.swiper-button-prev{
  width: 100px;
  height: 100px;
  content: 'next';
}
.kr_text{
  font-family: "AppleSDGothic";
  font-weight: 100;
  font-size: 16px;
}
.margin_top{
  margin-top: 5%;
}
.h1_text{
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: 45px;
}
.h3_text{
  color: #f89e52;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.h4_text{
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size: 16px;
  opacity: 0.7;
}
.inner{
  padding-left:  15%;
}


.mo{
  padding-top: 0;
}



#wrap{
  position: relative;
}
/*헤더메뉴*/
.menu_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_drop{
  display: flex;
}
.menu_drop li a{
  font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 500;
     font-size: 20px;
    line-height: 1;
    padding: 35px 18px;
}
.menu_drop li:first-child{
  color: #f89e52;;
}
.logo{
  width: 100px;
  height: 100px;

}
/*메인비주얼*/
.banner_img{
  position: relative;
  z-index: 1;
  background-image: url(./back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}
.container{
  max-width: 1320px;
  margin : 0px auto;
  
}
.main_banner{
  display: flex;
  justify-content: flex-start;
  z-index: 6;
  height: 800px;
  
}
.main_banner_mo{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main_banner_left{
  width: 50%;
    height: 600px;
    position: relative;
    top: 0;
    left: 0;
}
.main_banner_right{
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.main_button_box{
  display: flex;
  padding-top: 20%;
}

.main_banner_right button{
  width: 140px;
  height: 50px;
  font-size: 16px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  border: none;
  margin-right: 35px;
  border-radius: 10px;
  background-color: #3482ff;
  color: #ffffff;
}
.right_textbox{
  padding-top: 50%;
}
/*About me Page*/
.about{
  padding-top: 5%;
}
.about_item p{
  padding: 10px 0px;
}
.about .about_items{
  display: flex;
  padding:0px 5px;
  align-items: center;
  justify-content: space-around;
}
.about .about_items .about_item{
  width: 30%;
  height: 330px;
  margin-right: 35px;
  padding:30px 40px 0 40px;
  border: 1px solid #f3f3f3;
  border-radius:  20px;
  box-shadow: 0 15px 30px rgba(61,90,125,.08)
}
.about .about_items .about_item:nth-child(2) {

  margin-top: 5%;
}
.about .about_items .about_item:nth-child(4) {

  margin-top: 5%;
}
.about .about_items_mo .about_item:nth-child(2) {

  margin-top: 5%;
}
.about .about_items_mo .about_item:nth-child(4) {

  margin-top: 5%;
}
.item_icon1, .item_icon2, .item_icon3 {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  }
  
  .item_icon1::before,
  .item_icon2::before,
  .item_icon3::before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 87%;
  left: 114px;
  position: absolute;
  top:-12px;
  width: 28%;
  z-index: -1;
  }
  
  .item_icon1::before {
  background: #f0ebff;
  }
  
  .item_icon2::before {
  background: #edeef1;
  }
  
  .item_icon3::before {
  background: #fff2e4;
  }
.about_img{
  width: 66px;
  height: 60px;
}

/*프로젝트 페이지*/

.project{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 800px;
  background-color: #292f3f;
  border-radius: 150px 0px 0px 0px;

}
.project_box{
  display: flex;
  overflow: hidden;
  width: 3000px;
}
.project_text_box{
  display: flex;
  align-items: center;
  padding-right: 5%;
}
.project_text{
  width: 463px;
  font-size: 50px;
  color: #ffffff;
}
.project_text .arrow_box{
  display: flex;
    justify-content: flex-end;
}
.project_text .arrow_box li:first-child{
  margin-left: 100px;
}
.project_text .arrow_box img{
  width: 50px;
}
.project_items{
  display: flex;
  align-items: center;
  max-width: 82%;
}
.project_item{
  margin: 10px;
  width: 370px;
  height: 515px;
  border: 18px solid #f3f7fa;
  border-radius: 40px;
}
.project_item img{
  width: 100%;
  height: 515px;
}
/*마우스 커서*/

.mos {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.pointer {
  position: absolute;
  background-color: rgb(233, 148, 165);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  left: -15px;
  top: -15px;
}


/*모달창*/
.ReactModal__Overlay {
  inset: 100px;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.ReactModal__Overlay--after-open{
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.ReactModal__Overlay--before-close{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.ReactModal__Content{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.ReactModal__Content--after-open{
  opacity: 1;
}
.ReactModal__Content--before-close{
  opacity: 0;
}
.modal{
  width: 50px;
  z-index: 10;
  float: right;
}
.modal_img{
  width: 600px;
}
/*스와이퍼 */
.swiper-button-prev {
  position: absolute;
  left: 0;
}

.swiper-button-next {
  position: absolute;
  right: 0;
}

/*푸터 */
.section1{
  position: relative;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 800px;
background-color: #f3f7fa;
border-radius: 0px 0px 150px 0px;
}
.section2{
  position: relative;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 800px;
background-color: #ffffff;
}























/*배경 이미지*/

.shape08{
  position: absolute;
  content: "";
  bottom: 8%;
  right: 65%;
  animation: rotate_image1 8s linear infinite forwards alternate ; /* 애니메이션 적용 */
}
.moon{
  position: absolute;
  width: 90px;
  height: 90px;
  bottom: 70%;
  right: 89%;
   animation: rotate_image2 8s linear infinite forwards alternate ; /* 애니메이션 적용 */
}
@keyframes rotate_image2{
  50% {
      transform: rotate(-35deg);
  }
}
.shape01{
  position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
}
.shape02{
  position: absolute;
  top: 16%;
  left: 4%;
  z-index: -1;
  animation: one2 12s linear infinite forwards alternate ;
}
@keyframes one2{
  0% {
   
    transform: translate(0) rotate(0deg);
  }
  20% {
  
    transform: translate(73px,-1px) rotate(36deg);
  }
  40% {
   
    transform: translate(141px,72px) rotate(72deg);
  }
  60% {
  
    transform: translate(83px,122px) rotate(108deg);
  }
  80% {
  
    transform: translate(-40px,72px) rotate(144deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
  }

.shape03{
  position: absolute;
  left: 18.3%;
  top: 20%;
  z-index: -1;
  animation: one1 5s linear infinite forwards alternate ;
}
@keyframes one1{
  0%,100% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  25%,75%{
    transform: translateX(15px) translateY(20px) rotate(10deg);
  }
  50%{
    transform: translateX(60px) translateY(35px) rotate(15deg);
  }
}
.shape04{
  position: absolute;
  left: 11.6%;
    top: 29%;
  z-index: -1;
  animation: rotate_image 8s linear infinite;transform-origin: 50% 50%;
}
@keyframes rotate_image{
  100% {
      transform: rotate(360deg);
  }
}
.shape05{
  position: absolute;
  bottom: 11%;
    left: 8%;
  z-index: -1;
  animation: one5 5s linear infinite;transform-origin: 50% 50%;
}
@keyframes one5{
0%, 100% {

  transform: rotate(0deg) translateX(0);
}
25%, 75% {
  transform: rotate(5deg) translateX(15px);
}
50% {
  transform: rotate(10deg) translateX(30px);
}
}
.shape06{
  position: absolute;
  right: 17.25%;
  top: 24%;
  z-index: -1;
  animation: rotate_image1 5s linear infinite;transform-origin: 50% 50%;
}
@keyframes rotate_image1{
  50% {
      transform: rotate(40deg);
  }
}
.shape07{
  position: absolute;
  bottom: 6%;
    right:28.8%;
  z-index: -1;
  animation: box-ani 3s linear infinite forwards alternate ; /* 애니메이션 적용 */
}
@keyframes box-ani{
  0% {
    transform: translateX(-30px);
  }
  50%{
    transform: translateX(-10px);
  }
  100%{
    transform: translateX(-30px);
  }
}
.sunimg{
  width: 100px;
  position: absolute;
  left: 11.6%;
  top: 29%;
  z-index: -1;
  animation: rotate_image 8s linear infinite;transform-origin: 50% 50%;
}
@keyframes rotate_image{
  100% {
      transform: rotate(360deg);
  }
};
